*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-base: 1rem; 
    --font-small: 0.75rem;
    --font-large: 1.3rem;
    --line-space: 1rem;
    --image-side: 5rem;
    --image-radius: 2.5rem;
    --btn-padding: 0.7rem 5rem;
    --btn-radius: 0.5rem;
    --btn-spacing: 0.8rem;
    --btn-weight: 600;
    --transition: all 0.3s ease-in-out;
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

body{
    display: grid;
    grid-template-rows: 1fr;
    min-height: 100vh;
    padding: 16px;
    background-color: var(--Grey900);
    font-family: "Inter",serif;
    font-optical-sizing: auto;
    color: var(--White);
}

/* main */
main{
    display: grid;
    place-items: center;
}

/* Card -start*/
.card{
    background: var(--Grey800);
    border-radius: 0.7rem;
    overflow: hidden;
    width: auto;
    max-width: 21rem;
    padding: 2rem;
}
/* Card image*/
.card-image img{
    display: grid;
    place-self: center;
    height: var(--image-side);
    width: var(--image-side);
    border-radius: var(--image-radius);
}
/* card content -start */
.card-content {
    padding-top: 1.5rem;
    text-align: center;
}
/* name */
.name{
    font-size: var(--font-large);
    margin-bottom: 0.rem;
}
/* address */
.address{
    font-size: var(--font-small);
    margin-bottom: 1.5rem;
    color: var(--Green);
}
/* bio */
.bio{
    font-size: var(--font-small);
    margin-bottom: var(--line-space);
}
/* links */.links {
    display: grid;
    gap: var(--btn-spacing);
}

.links li {
    list-style: none;
}

.links a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--White);
    font-size: var(--font-small);
    font-weight: var(--btn-weight);
    background: var(--Grey700);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    transition: var(--transition);
}

.links a:hover {
    background: var(--Green);
    color: var(--Grey900);
    transform: translateY(-0.2rem);
}

.links a:active {
    transform: scale(1.2);
}


/* Footer */
footer {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    padding:  0.5em 0;
    background-color: var(--Grey800);
    color: var(--White);
}
  
/* Footer Links */
footer a {
    color: var(--Green);
    text-decoration: none;
}
  